.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0073ff;
    padding: 25px 15px;
    transition:width 0.3s ease; /* Добавляем переход для изменения ширины */

}
.sidebar.collapsed {
    width: 80px; /* Уменьшаем ширину сайдбара */
}

.sidebar.expanded {
    width: 250px; /* Расширяем ширину сайдбара */
}
.sidebar img{
    width: 20px;
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #80aaf2;
    border-radius: 50px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #fdfcfc;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #28c9f1;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;

}
.sidebar .bottom-item{
    padding-right: 10px;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}